body, html {
    margin: 0;
    padding: 0;
    padding-left: 13%;
    padding-right: 13%;
}

* {
    box-sizing: border-box;
    font-family: Georgia;
    /*Georgia , 'Times New Roman', Times, serif;*/
    
}

.name-header{
    color: rgb(99, 99, 99);
    margin-top : 50;
    margin-left: 0;
}

/*.intro {
    float: left;
}*/

/*.pic{
    float:right;
    margin-top: 40;
    margin-left: 800;
}*/

.intro {
    display: inline-block;
    
}

.text{
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 0;
    margin-right: 60px;
    color: rgb(116, 116, 116);
}


.pic{
    float: left;
    /*margin-left: 100px;*/
    
}

.publications {
    clear: both;
}

.projects{
    clear: both;
}

.socials {
    text-align: center;
}
a {
    text-decoration:none ;
    color: rgb(22, 140, 236)
}

a:visited{
    text-decoration:none ;
    color: rgb(22, 140, 236)
}

.project_img {
    float: left;
    margin-right: 10px;
    
}
.project_block {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin: 10px;
    width: 100%;    
}

.project_text {
    color: rgb(116, 116, 116);
    margin: 0;
}

.project_block:hover{
    
}